{% extends 'base.html' %}
{% block title %}删除上传文件{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-9 col-xs-12">
            <div class="file-border">
            <h3>删除文件</h3>
            <button id="delfilebtn" class="btn btn-danger">删除</button>
                <table id="result_list">
                    <thead>
                        <tr>
                        <th scope="col" class="action-checkbox-column">
                        <div class="text"><span><input type="checkbox" id="ipt_check_all"></span></div>
                        <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-title">
                        <div class="text"><a href="?o=1">文件名</a></div>
                        <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-file">
                        <div class="text"><a href="?o=2">文件路径</a></div>
                        <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-upload_time">
                        <div class="text"><a href="?o=3">上传时间</a></div>
                        <div class="clear"></div>
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for file in file_lists %}
                        <tr class="row1">
                            <td class="action-checkbox">
                                <input type="checkbox" name="selected_action" value="{{ file.pk }}" class="ipt_check">
                            </td>
                            <th class="field-title">{{ file.title }}</th>
                            <td class="field-file">{{ file.file }}</td>
                            <td class="field-upload_time nowrap">{{ file.upload_time|date:"Y-m-d H:i:s" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script>
        {#function ckAll() {#}
        {#  alert("选了啥？");#}
        {#  var flag = $("#action-toggle")#}
        {#};#}
        $("#ipt_check_all").on('click', function () {
            if($(this).prop("checked")) {
                $(this).closest('table').find('.ipt_check').prop('checked', true);
            }else{
                $(this).closest('table').find('.ipt_check').prop('checked', false);
            }
        });
        $("#delfilebtn").click(function () {
            var chk_value = [];
            var chk_filepath = [];
            $('input[name="selected_action"]:checked').each(function () {
                chk_filepath.push($(this).closest("tr").find(":nth-child(3)").html());
                chk_value.push($(this).val());
            });
            if (chk_value.length <= 0){
                alert("请选择要删除的数据！");
            }else {
               if(confirm("你确定删除吗？")){
                   $.ajax({
                       url: '{% url 'delfiles' %}',
                       type: 'POST',
                       cache: false,
                       data: {'ids': chk_value, 'filepaths': chk_filepath},
                       beforeSend: function(xhr, settings){
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // 解决Forbidden (CSRF token missing or incorrect.)
                        },
                       success: function (data) {
                           if (data['status'] === 'success'){
                               alert("删除成功！");
                               window.location.reload();
                           }else {
                               alert(data['msg']);
                           }
                       }
                    });
                   return false;
               }
            }
        })
    </script>
{% endblock %}