{% extends 'base.html' %}
{% block title %}我的博客|下载{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">常用软件下载</h3>
                  </div>
                  <div class="panel-body">
                  {% if user.is_authenticated %}
                  <button id="uploadbtn2" class="btn btn-primary">上传文件</button>
                  <a id="delbtn2" class="btn btn-danger" href="{% url 'delfiles' %}">删除文件</a>
                  {% endif %}
                  <div class="dt">
                      <ul class="flnews">
                          {% for file in file_list %}
                          <li ><a href="{{ MEDIA_URL }}{{ file.file }}">{{ file.title }}（{{ file.size }}）</a></li>
                          {% empty %}
                              暂无软件下载
                          {% endfor %}
                      </ul>
                  </div>
                  </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="upload_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form id="upload_for_modal" action="" enctype="multipart/form-data" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">上传</h4>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form }}
                             <span class="file-temp">
                            </span>
                            <!-- 查看更多文件 -->
                            <ul class="item-more">
                            </ul>
                            <div class="pre_upfile">
                                <table border="1" class="up_table">
                                    <tbody id="pre_uptable">
                                    </tbody>
                                </table>
                            </div>
                            <span id="upload_medal_tip" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button id="upload_btn" class="btn btn-primary">上传</button>
{#                            <input type="submit" value="上传">#}
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <!-- 查看更多文件 文件信息模版 -->
    <script type="text/template" id="file-more-item-tpl">
        <li>
            <span class="file-item-more-name">{{name}}</span>
            <span class="file-item-more-btn">&times;</span>
        </li>
    </script>
<script>
$("#uploadbtn2").click(function () {
    $("#upload_modal").modal('show');
});
$("#upload_for_modal").submit(function (event) {
    event.preventDefault();
    var form = new FormData();// 创建FormData对象
    //form.append("file", $("#file")[0].files[0]); //一个文件
    for(var i=0;i<$("#id_file_field")[0].files.length;i++){
        form.append('file_field', $("#id_file_field")[0].files[i]);
    }
    $.ajax({
        url: "{% url 'uploads' %}",
        type: 'POST',
        cache: false,
        processData: false,
        contentType: false,
        data: form,
        beforeSend: function(xhr, settings){
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // 这句是关键
        },
        success: function(data) {
            if(data['status'] === 'success'){
                $("#upload_modal").modal('hide');
                alert("上传成功！");
                window.location.reload();
            }else {
                alert("上传错误！");
            }
        }
    });
});
function formatSize(size) {
    if (size < 1024){
        size = Math.round(size * 10) / 10 + 'KB';
    }else {
        size = Math.round(size/1024 * 10) / 10 + 'MB';
    }
    return size;
};
// 保存当前选择的（更新后）文件列表
var curFiles = [];

// 初始选择文件时触发
$('#id_file_field').change(function() {
    $("#pre_uptable").text('');
    var html = '';
    for(var i=0;i<$("#id_file_field")[0].files.length;i++){
        html += '<tr><td>'+$("#id_file_field")[0].files[i].name+'</td><td>'+
            formatSize($("#id_file_field")[0].files[i].size/1024)+'</td><td>'+
            '<div class="del_upfile">删除</div></td></tr>';
    }
    $("#pre_uptable").append(html);
    var $this = $(this),
        $temp = $('.del_upfile'),
        files = this.files;

    if (files && files.length) {
        // 原始FileList对象不可更改，所以将其赋予curFiles提供接下来的修改
        Array.prototype.push.apply(curFiles, files);
        console.log(curFiles);

        $this.hide();
        {#$temp.css('display', 'inline-block');#}
    }
});
$(document)
    {#https://www.cnblogs.com/imwtr/p/5924042.html#}
    .on('click', '.del_upfile', function() {
    $('.upload-tip').hide();
    {#var name = $(this).prev().text();#}
        var name = $(this).closest("tr").find(":nth-child(1)").html();
    console.log(name);
    // 去除该文件
    curFiles = curFiles.filter(function(file) {
        {#return file.name !== name;#}
        return file.name !== name;
    });
    console.log(curFiles);
    // 文件列表数组被清空则重置文件选择表单项
    if (!curFiles.length) {
        $('#id_file_field').val('').show();
        $('.file-temp').css('display', 'none');
    } else {
    }

    {#console.log(curFiles)#}
})
{#.on('click', '.del_upfile', function () {#}
{#    var index = $(this).parent().parent().index();#}
{#    console.log(index);#}
{#    $(this).parent().parent().remove();#}
{#})#}

</script>
{% endblock %}