{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}创建资产{% endblock %}
{% block custom_css %}
    <link href="{% static 'select2/select2.min.css' %}" rel="stylesheet">
    <style>
        .ibox-title {
            border-top: none;
        }
    </style>
    <script src="{% static 'select2/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pwstrength-bootstrap.js' %}"></script>
{% endblock %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
   <div class="row">
       <div class="col-sm-12">
           <div class="ibox float-e-margins">
               <div class="ibox-title" >
                   <h5>创建资产</h5>
                    <div class="ibox-content">
                        <form action="" method="post" class="form-horizontal">
                            {% csrf_token %}
                            <h3>基本信息</h3>
                            {% bootstrap_field form.name layout="horizontal" %}
                            {% bootstrap_field form.ip layout="horizontal" %}
                            {% bootstrap_field form.port layout="horizontal" %}
                            {% bootstrap_field form.platform layout="horizontal" %}
                            <div class="hr-line-dashed"></div>
                            <h3>用户</h3>
                            {% bootstrap_field form.created_by layout="horizontal" %}
                            <div class="hr-line-dashed"></div>
                            <h3>节点</h3>
                            {% bootstrap_field form.nodes layout="horizontal" %}
                        </form>
                    </div>
               </div>
           </div>
       </div>
   </div>
</div>
{% endblock %}