{% extends 'base.html' %}
{% load static %}
{% block title %}我的博客|树形结构{% endblock %}
{% block custom_css %}
        <link rel="stylesheet" href="{% static 'zTree/css/awesomeStyle/awesome.css' %}" >
{#        <link rel="stylesheet" href="{% static 'datatables/css/dataTables.bootstrap.css' %}" >#}
        <style type="text/css">
            div#rMenu {
                position:absolute;
                visibility:hidden;
                text-align: left;
                {#top: 100%;#}
                top: 0;
                left: 0;
                z-index: 1000;
                {#float: left;#}
                padding: 0 0;
                margin: 2px 0 0;
                list-style: none;
                background-clip: padding-box;
             }
            .dataTables_wrapper .dataTables_processing {
                opacity: .9;
                border: none;
            }
            div#rMenu li{
                margin: 1px 0;
                cursor: pointer;
                list-style: none outside none;
             }
            .dropdown a:hover {
                background-color: #f1f1f1
            }
            .dropdown-menu {
                border: medium none;
                border-radius: 3px;
                box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
                display: none;
                float: left;
                font-size: 12px;
                left: 0;
                list-style: none outside none;
                padding: 0;
                position: absolute;
                text-shadow: none;
                top: 100%;
                z-index: 1000;
                }
            .dropdown-menu > li > a {
              border-radius: 3px;
              color: inherit;
              line-height: 25px;
              margin: 4px;
              text-align: left;
              font-weight: normal;
            }
            .dropdown-menu > li > a.font-bold {
              font-weight: 600;
            }
            div.dataTables_wrapper div.dataTables_filter,
            .dataTables_length {
                float: right !important;
            }
            div.dataTables_wrapper div.dataTables_filter {
                margin-left: 15px;
            }
            div.btn-group  select {
              width: 75px;
              display: inline-block;
            }
            div.mail-box-header span {
                font-size: 90%;
            }
            {#.form-control{#}
            {#    height: 30px;#}
            {#}#}
            .form-control,
            .single-line {
              background-color: #FFFFFF;
              background-image: none;
              border: 1px solid #e5e6e7;
              border-radius: 1px;
              color: inherit;
              display: block;
              padding: 6px 12px;
              transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
              width: 100%;
              font-size: 14px;
            }
            .form-control:focus,
            .single-line:focus {
              border-color: #1ab394 !important;
            }
            .table {
            margin: 0 auto;
            }
            .mail-box-header {
              background-color: #ffffff;
              border: 1px solid #e7eaec;
              {#border-bottom: 0;#}
              padding: 5px 20px 5px 20px;
            }
            .mail-box-header h2 {
              margin-top: 0;
            }
            .tree-toggle {
                position: absolute;
                left: 0;
                top: 1px;
                height: 100%;
            }
            .tree-toggle-btn {
                width: 12px;
                text-align: center;
                padding: 5px 0;
            }
            .btn-primary {
              background-color: #1ab394;
              border-color: #1ab394;
              color: #FFFFFF;
            }
        /* WRAPPERS */
            #wrapper {
              width: 100%;
              overflow-x: hidden;
            }
            .wrapper {
              padding: 0 10px;
            }



        .ibox.collapsed .ibox-content {
          display: none;
        }
        .ibox.collapsed .fa.fa-chevron-up:before {
          content: "\f078";
        }
        .ibox.collapsed .fa.fa-chevron-down:before {
          content: "\f077";
        }
        .ibox:after,
        .ibox:before {
          display: table;
        }
        .ibox-content {
          clear: both;
        }
        .mailbox-content {
          background: none;
          border: none;
          padding: 10px;
        }
        .file-manager {
          list-style: none outside none;
          margin: 0;
          padding: 0;
        }
        /* DATATABLES */
        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_desc,
        table.dataTable thead .sorting_asc_disabled,
        table.dataTable thead .sorting_desc_disabled {
          background: transparent;
        }
        .dataTables_wrapper {
          padding-bottom: 30px;
        }
        /* TABLES */
        .table-bordered {
          border: 1px solid #EBEBEB;
        }
        .table-bordered > thead > tr > th,
        .table-bordered > thead > tr > td {
          /*background-color: #F5F5F6;*/
          border-bottom-width: 1px;
        }
        .table-bordered > thead > tr > th,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > td {
          border: 1px solid #e7e7e7;
        }
        .table > thead > tr > th {
          border-bottom: 1px solid #DDDDDD;
          vertical-align: bottom;
        }
        .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
          border-top: 1px solid #e7eaec;
          line-height: 1.42857;
          padding: 8px;
          vertical-align: top;
        }
        {#body {#}
        {#  font-family: "open sans", "Helvetica Neue", "微软雅黑", Helvetica, Arial, sans-serif;#}
          {#background-color: #2f4050;#}
        {#  font-size: 14px;#}
        {#  color: #676a6c;#}
        {#  overflow-x: hidden;#}
        {#}#}
        {#html,#}
        {#body {#}
        {#  height: 100%;#}
        {#}#}
        /* BACKGROUNDS */
        .gray-bg {
          background-color: #f3f3f4;
        }
      #page-wrapper {
        position: inherit;
        margin: 0 0 0 0;
        min-height: 600px;
      }
        </style>

{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
    <div class="wrapper wrapper-content">
       <div class="row">
           <div class="col-lg-2" id="split-left" style="padding-left: 20px">
               <div class="ibox float-e-margins">
                   <div class="ibox-content mailbox-content" style="padding-top: 0;padding-left: 1px">
                       <div class="file-manager ">
                           <div id="assetTree" class="ztree">
                           </div>
                           <div class="clearfix"></div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-lg-10 animated fadeInRight" id="split-right">
               <div class="tree-toggle">
                   <div class="btn btn-sm btn-primary tree-toggle-btn" onclick="toggle()">
                       <i class="fa fa-angle-left fa-x" id="toggle-icon"></i>
                   </div>
               </div>
               <div class="mail-box-header">
               <div class="uc pull-left m-r-5"><a class="btn btn-sm btn-primary btn-create-asset">创建资产</a></div>
                   <div class="html5buttons">
                       <div class="dt-buttons btn-group">
                           <a class="btn btn-default btn_import" data-toggle="modal" data-target="#asset_import_modal" tabindex="0">
                               <span>导入</span>
                           </a>
                           <a class="btn btn-default btn_export" tabindex="0">
                               <span>导出</span>
                           </a>
                       </div>
                   </div>
                <table class="table table-striped table-bordered table-hover" id="asset_list_table" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">序号</th>
                            <th class="text-center">主机名</th>
                            <th class="text-center">IP地址</th>
                            <th class="text-center">系统平台</th>
                            <th class="text-center">型号</th>
                            <th class="text-center">内存</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
               </div>
           </div>
        </div>
    </div>

    <div id="rMenu">
        <ul class="dropdown-menu">
            <li class="divider"></li>
            <li id="m_create" tabindex="-1" onclick="addTreeNode();"><a><i class="fa fa-plus-square-o"></i>新建节点</a></li>
            <li id="m_del" tabindex="-1" onclick="editTreeNode();"><a><i class="fa fa-pencil-square-o"></i>重命名节点</a></li>
            <li id="m_del" tabindex="-1" onclick="removeTreeNode();"><a><i class="fa fa-minus-square"></i>删除节点</a></li>
            <li class="divider"></li>
            <li id="menu_asset_add" class="btn-add-asset" data-toggle="modal" data-target="#asset_list_modal" tabindex="0"><a><i class="fa fa-copy"></i> 添加资产到节点</a></li>
            <li id="menu_asset_move" class="btn-move-asset" data-toggle="modal" data-target="#asset_list_modal" tabindex="0"><a><i class="fa fa-cut"></i> 移动资产到节点</a></li>
        </ul>
    </div>
    </div>
</div>
{% endblock %}
{% block custom_js %}
    <script src="{% static 'zTree/js/jquery.ztree.all.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/asset.js' %}"></script>
    <script type="text/javascript">
    var asset_table, rMenu, show = 0;
    var current_node_id = null;
    var current_node = null;
    function initTree() {
        var url = '{% url 'assets:node-tree' %}';
        var setting = {
            view: {
                dblClickExpand: false,
                showLine: true
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            async: {
                enable: true,
                url: url,
                autoParam: ["id=key", "name=n", "level=lv"],
                type: 'get'
            },
            edit: {
                enable: true,
                showRemoveBtn: false,
                showRenameBtn: false,
                drag: {
                    isCopy: true,
                    isMove: true
                }
            },
            callback: {
                onRightClick: OnRightClick,
                onRename: onRename,
                onSelected: onSelected,
                beforeDrop: beforeDrop,
                onDrop: onDrop,
            }
        };
        zNodes = [];
        zTree = $.fn.zTree.init($("#assetTree"), setting, zNodes);
        rMenu = $("#rMenu");
    }
    function initTale() {
        var options ={
            ele: $('#asset_list_table'),
            columnDefs: ([{
                  targets: 0,
                  orderable: false,
                  searchable: false,}]),
            ajax_url: "{% url "assets:asset-list" %}",
            columns: [{data: null, orderable: false}, {data: "name"}, {data: "ip"},
                    {data: "platform"},{data: "model", orderable: false},
                    {data: "memory", orderable: false}],
        };
        asset_table = assetserver.initServerSideDataTable(options);
        return asset_table;
    }
    function onDrop(event, treeId, treeNodes, targetNode, moveType) {
        var treeNodesIds = [];
        $.each(treeNodes, function (index, value) {
            treeNodesIds.push(value.meta.node.id);
        })
        var data ={"nodes": treeNodesIds};
        $.ajax({
            url: '{% url 'assets:node-add-children' pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", targetNode.meta.node.id),
            type: "PUT",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // 这句是关键
            },
        });
    };
    function OnRightClick(event, treeId, treeNode) {
        if (!treeNode && event.target.tagName.toLowerCase() != "button" && $(event.target).parents("a").length == 0) {
            zTree.cancelSelectedNode();
            showRMenu("root", event.clientX, event.clientY);
        } else if (treeNode && !treeNode.noR) {
            zTree.selectNode(treeNode);
            showRMenu("node", event.clientX, event.clientY);
        }
    }
    function showRMenu(type, x, y) {
        $("#rMenu ul").show();

        y += document.body.scrollTop;
        x += document.body.scrollLeft;
        rMenu.css({"top":y+"px", "left":x+"px", "visibility":"visible"});

        $("body").bind("mousedown", onBodyMouseDown);
    }
    function hideRMenu() {
			if (rMenu) rMenu.css({"visibility": "hidden"});
			$("body").unbind("mousedown", onBodyMouseDown);
    }
	function onBodyMouseDown(event){
			if (!(event.target.id == "rMenu" || $(event.target).parents("#rMenu").length>0)) {
				rMenu.css({"visibility" : "hidden"});
			}
	}
	function addTreeNode() {
        hideRMenu();
        var parentNode = zTree.getSelectedNodes()[0];
        console.log(parentNode);
        if (!parentNode){
            return
        }
        var url = "{% url 'assets:node-children' pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", parentNode.meta.node.id);
        $.post(url,  {}, function (data, status){
            if (status === "success") {
                var newNode = {
                    id: data["key"],
                    name: data["value"],
                    pId: parentNode.id,
                    meta: {
                        "node": data
                    }
                };
                console.log("newNode:" + newNode);
                newNode.checked = zTree.getSelectedNodes()[0].checked;
                zTree.addNodes(parentNode, 0, newNode);
                var node = zTree.getNodeByParam('id', newNode.id, parentNode);
                zTree.editName(node);
            } else {
                alert("创建节点失败！")
            }
        });
    }
    function editTreeNode() {
        hideRMenu();
        var current_node = zTree.getSelectedNodes()[0];
        if (!current_node){
            return
        }
        if (current_node) {
            current_node.name = current_node.meta.node.value;
        }
        zTree.editName(current_node);
    }
    function onSelected(event, treeNode) {
        current_node = treeNode;
        current_node_id = treeNode.meta.node.id;
        zTree.expandNode(current_node, true);
        var url = asset_table.ajax.url();
        console.log(current_node_id);
        url = setUrlParam(url, "node_id", current_node_id);
        asset_table.ajax.url(url);
        asset_table.ajax.reload();
    }

    function onRename(event, treeId, treeNode, isCancel){
        if(isCancel){
            return;
        }
        var url = "{% url 'assets:node-detail' pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", current_node_id);
        var data = {"value": treeNode.name};
        $.ajax({
            url: url,
            type: "PATCH",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); // 这句是关键
            },
            success: function () {
                treeNode.name = treeNode.name + ' (' + treeNode.meta.node.assets_amount + ')';
                zTree.updateNode(treeNode);
                console.log("Success: " + treeNode.name);
            }
        })

    }
    function removeTreeNode(){
        hideRMenu();
        var current_node = zTree.getSelectedNodes()[0];
        {#var data = {"value": current_node_id};#}
        if(!current_node){
            return;
        }
        if(current_node.children && current_node.children.length > 0){
            alert("存在子节点不能删除！");
            return;
        }else {
            var url = "{% url 'assets:node-detail' pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", current_node_id);
            $.ajax({
                url: url,
                method: "DELETE",
                {#data: JSON.stringify(data),#}
                success: function () {
                    zTree.removeNode(current_node);
                }
            });
        }
    }
    function beforeDrop(treeId, treeNodes, targetNode, moveType){
        var treeNodesNames = [];
        $.each(treeNodes, function (index, value) {
            treeNodesNames.push(value.name);
        })
        var msg = "你想移动节点: `" + treeNodesNames.join(",") + "` 到 `" + targetNode.name + "` 下吗?";
        return confirm(msg);
    }
    function toggle() {
        if (show === 0) {
            $("#split-left").hide(500, function () {
                $("#split-right").attr("class", "col-lg-12");
                $("#toggle-icon").attr("class", "fa fa-angle-right fa-x");
                show = 1;
            });
        } else {
            $("#split-right").attr("class", "col-lg-10");
            $("#toggle-icon").attr("class", "fa fa-angle-left fa-x");
            $("#split-left").show(500);
            show = 0;
        }
    }
    $(document).ready(function () {
        initTale();
        initTree();
    })
    .on('click', '.btn-create-asset', function () {
        var url = "{% url 'assets:assets-create' %}";
        if (current_node_id) {
            url += "?node_id=" + current_node_id;
        }
        window.open(url, '_self');
    })
    </script>
{% endblock %}