{% extends 'base.html' %}
{% load static %}
{% block title %}{{ blog.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <div class="blog_header">
                          <h3>{{ blog.title }}</h3>
                          <ul>
                              <li>发布时间：{{ blog.created_time|date:"Y-m-d H:i:s" }}</li>
                              <li>作者：{{ blog.author }}</li>
                          </ul>
                          <span class="clearfix"></span>
                          <ul>
                              <li>分类标签：<a href="{% url 'category' blog.category.pk %}">{{ blog.category }}</a></li>
                              <li>阅读({{ blog.views }})</li>
                          </ul>
                      </div>
                  </div>
                  <div class="panel-body">
                      <div class="blog_content">{{ blog.content|safe }}
                          <p>
                              {% if previous_blog %}
                                  <a href="{% url 'blog_detail' previous_blog.pk %}">
                                  上一篇：{{ previous_blog.title }}
                                  </a>
                              {% else %}
                                  上一篇：没有了
                              {% endif %}
                          </p>
                          <p>
                              {% if next_blog %}
                                  <a href="{% url 'blog_detail' next_blog.pk %}">
                                    下一篇：{{ next_blog.title }}
                                  </a>
                              {% else %}
                                下一篇：没有了
                              {% endif %}
                          </p>
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 blog-border">
            <div class="side-list">
                <h4><span class="glyphicon glyphicon-pushpin"></span> 广告合作</h4>
            </div>
            <div class="side-list">
                <h4>
                    <span class="glyphicon glyphicon-book"></span>
                    随机推荐
                </h4>
                <ul>
                    <li>
                        <a href="/blog/75" target="_blank">VSTO新手常见问题</a>
                    </li>
                </ul>
            </div>
            <div class="side-list">
                <h4>
                    <span class="glyphicon glyphicon-book"></span>
                    猜你喜欢
                </h4>
                <ul id="like_blogs_list">
                    <li><a href="/blog/43" target="_blank">以图搜图(一)：Python实现dHash算法</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="comment-area" style="overflow: hidden">
                    <h3 class="comment-title">提交评论</h3>
                    {% if user.is_authenticated %}
                        <form id="comment-form" action="{% url 'update_comment' %}" method="post">
                            <label>{{ user.username }}，欢迎评论~</label>
                            {% csrf_token %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span>
                            <input type="submit" value="评论" class="btn btn-primary pull-right">
                        </form>
                    {% else %}
                        你尚未登录,登录之后才能评论
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <span>or</span>
                        <a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-title">评论列表</h3>
                    <div>
                        {% for comment in comments %}
                        <div id="comment-list">
                            {{ comment.user.username }}
                            ({{ comment.comment_time|date:"Y-m-d H:i:s" }}):
                            {{ comment.text|safe }}
                        </div>
                    {% empty %}
                        暂无评论
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript">
        $("#comment-form").submit(function () {
            // 判断是否为空
            $("#comment_error").text('');
            if(CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
                $("#comment_error").text('评论内容不能为空！');
                return false;
            }
            //更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();
            // 异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: "POST",
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        // 异步提交成功之后插入数据
                        var comment_html = '<div>'+ data['username'] +
                                            '('+ data['comment_time'] + '): ' +
                                            data['text'] + '</div>';
                        $("#comment-list").prepend(comment_html);
                        // 更新之后清空textarea
                        CKEDITOR.instances['id_text'].setData('');
                    }else {
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
            return false;
        });
    </script>
{% endblock %}