{% extends 'base.html' %}
{% block title %}{{ blog.title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <div class="blog_header">
                          <h3>{{ blog.title }}</h3>
                          <ul>
                              <li>发布时间：{{ blog.created_time|date:"Y-m-d H:i:s" }}</li>
                              <li>作者：{{ blog.author }}</li>
                          </ul>
                          <span class="clearfix"></span>
                          <ul>
                              <li>分类标签：<a href="{% url 'category' blog.category.pk %}">{{ blog.category }}</a></li>
                              <li>阅读({{ blog.views }})</li>
                          </ul>
                      </div>
                  </div>
                  <div class="panel-body">
                      <div class="blog_content">{{ blog.content|safe }}
                          <p>
                              {% if previous_blog %}
                                  <a href="{% url 'blog_detail' previous_blog.pk %}">
                                  上一篇：{{ previous_blog.title }}
                                  </a>
                              {% else %}
                                  上一篇：没有了
                              {% endif %}
                          </p>
                          <p>
                              {% if next_blog %}
                                  <a href="{% url 'blog_detail' next_blog.pk %}">
                                    下一篇：{{ next_blog.title }}
                                  </a>
                              {% else %}
                                下一篇：没有了
                              {% endif %}
                          </p>
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 blog-border">
            <div class="side-list">
                <h4><span class="glyphicon glyphicon-pushpin"></span> 广告合作</h4>
            </div>
            <div class="side-list">
                <h4>
                    <span class="glyphicon glyphicon-book"></span>
                    随机推荐
                </h4>
                <ul>
                    <li>
                        <a href="/blog/75" target="_blank">VSTO新手常见问题</a>
                    </li>
                </ul>
            </div>
            <div class="side-list">
                <h4>
                    <span class="glyphicon glyphicon-book"></span>
                    猜你喜欢
                </h4>
                <ul id="like_blogs_list">
                    <li><a href="/blog/43" target="_blank">以图搜图(一)：Python实现dHash算法</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="comment-area">
                    <h3 class="comment-title">提交评论</h3>
                    {% if user.is_authenticated %}
                        {{ user.username }}，欢迎评论~
                        <form action="{% url 'update_comment' %}" method="post">
                            {% csrf_token %}
                            <textarea name="comment_text" id="comment_text"></textarea>
                            <input type="hidden" name="object_id" value="{{ blog.pk }}">
                            <input type="hidden" name="content_type" value="blog">
                            <input type="submit" value="评论">
                        </form>
                    {% else %}
                        未登录,登录之后才能评论
                        <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                            <span>用户名：</span>
                            <input type="text" name="username">
                            <span>密码：</span>
                            <input type="password" name="password">
                            <input type="submit" value="登录">
                        </form>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-title">评论列表</h3>
                    {% for comment in comments %}
                        <div>
                            {{ comment.user.username }}
                            ({{ comment.comment_time|date:"Y-m-d H:i:s" }}):
                            {{ comment.text }}
                        </div>
                    {% empty %}
                        暂无评论
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}