{% extends 'base.html' %}
{% load blog_tags %}
{% block title %}博客列表{% endblock %}
# 页面内容
{% block content %}
    <div class="container">
        <div class="col-md-9 col-xs-12">
            {% for blog in blog_lists %}
                <div class="blog-border">
                    <div class="blog-item">
                        <div class="blog-title">
                            <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
{#                            <div class="entry-meta">#}
{#                              <span class="material-views"><i class="far fa-eye"></i> {{ blog.views }}</span>#}
{#                              <span class="material-num-comments"><i class="far fa-comment-alt"></i> 157</span>#}
{#                              <span class="material-pub-date"><i class="far fa-clock"></i> {{ blog.created_time|date:"Y-m-d" }}</span>#}
{#                            </div>#}
                        </div>
                        <div class="blog-desc">
                            {{ blog.content|striptags|truncatechars:200 }}
                        </div>
                        <div class="blog-tags">
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-time"></span>
                                    <span>2019-03-28</span>
                                </li>
                        <li>
                            阅读：1459
                        </li>
                        <li>
                            评论：0
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-tag"></span>
                            <a href="/blog/?tag=3">数据库</a>
                        </li>
                    </ul>
                        </div>
                    </div>
            {% empty %}
                <div class="blog">
                    <h3>暂无博客！</h3>
                </div>
            {% endfor %}
                </div>
{#                {% if is_paginated %}#}
{#                    <div class="pagination">#}
{#                        {% if page_obj.has_previous %}#}
{#                            <a href="?page={{ page_obj.previous_page_number }}">上一页</a>#}
{#                        {% endif %}#}
{#                            <span class="current">第{{ page_obj.number }}页 / 共 {{ paginator.num_pages }}页</span>#}
{#                        {% if page_obj.has_next %}#}
{#                            <a href="?page={{ page_obj.next_page_number }}">下一页</a>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                {% endif %}#}
                {% if is_paginated %}
                    <div class="paginator">
                        <ul class="pagination">
                            <li>
                                {% if first %}
                                    <a href="?page=1" aria-label="Previous">1</a>
                                {% endif %}
                            </li>
                            {% if left %}
                            {% if left_has_more %}
                                <li><span>...</span></li>
                            {% endif %}
                                {% for i in left %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endfor %}
                            {% endif %}
                            <li><a href="?page={{ page_obj.number }}" >{{ page_obj.number }}</a></li>
                            {% if right %}
                            {% for i in right %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                            {% if right_has_more %}
                                <li><span>...</span></li>
                            {% endif %}
                              {% endif %}
                              {% if last %}
                                  <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                              {% endif %}
                        </ul>
                        <p>
                            共有{{ paginator.count }}篇博客,
                            当前第{{ page_obj.number }}页，共{{ paginator.num_pages }}页
                        </p>
                    </div>
                {% endif %}
            </div>
        <div class="col-md-3 col-xs-12 blog-border">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                        {% get_recent_blogs as recent_blog_list %}
                        <ul>
                        {% for blog in recent_blog_list %}
                            <li>
                                <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                            </li>
                        {% empty %}
                            暂无文章！
                        {% endfor %}
                        </ul>
                </div>
                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    {% get_categories as category_list%}
                    <ul>
                        {% for category in category_list %}
                        <li>
                            <a href="{% url 'category' category.pk %}">{{ category.name }}<span class="post-count">（{{ category.num_blogs }}）</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    {% archives as date_list %}
                    <ul>
                        {% for date in date_list %}
                        <li>
                            <a href="{% url 'archives' date.year date.month %}">
{#                                {{ date.year }} 年 {{ date.month }} 月#}
                                {{ date|date:"Y 年 m 月" }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}